<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
$sort = $_REQUEST["sort"];
$kfz = new Sms_Artikelfinder_Helper_Data();
$fahrzeuge = $kfz->getAllVehicles($sort);

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = Mage::getSingleton('core/url')->getPath();
//$action = $this->getRequest()->getActionName();
//$path = str_replace($action."/", "", $path);

echo "Treffer Edit Vehicle";
exit;
$i = 1;
?>

<h2>Fahrzeuge</h2>
<div class="grid">
    <div class="hor-scoll">
        <table cellspacing="0" class="data" id="fahrzeugGrid_table">
            <colgroup>
                <col width="50">
                <col width="150">
                <col width="50">
                <col width="250">
                <col width="100">
                <col width="100">
                <col width="450">
                <col width="50">
                <col width="50">
                <col width="50">
                <col width="100">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . 'id'; ?>" name="id" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">ID</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=fahrzeugart'; ?>" name="fahrzeugart" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Fahrzeugart</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=fahrzeug_id'; ?>" name="fahrzeug_id" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Fahrzeug ID (mkz)</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=hersteller'; ?>" name="hersteller" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Hersteller</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=hubraum'; ?>" name="Hubraum" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Hubraum</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=type'; ?>" name="type" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Type</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=modell'; ?>" name="modell" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Modell</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=bj_von'; ?>" name="bj_von" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Baujahr von</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=bj_bis'; ?>" name="bj_bis" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Baujahr bis</span>
                            </a>
                        </span>
                    </th>
                    <th>
                        <span class="nobr">
                            <a href="<?php echo $path . '?sort=fahrgestellnummer'; ?>" name="fahrgestellnummer" title="asc" class="sort_arrow_desc">
                                <span class="sort-title">Fahrgestellnummer</span>
                            </a>
                        </span>
                    </th>
                    <th>&nbsp;</th>
                </tr>
                <tr class="filter">
                    <form action="<?php echo $path; ?>" method="post">
                    <th></th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="fahrzeugart" id="fahrzeugGrid_fahrzeug_filter_fahrzeugart" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="fahrzeug_id" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_id" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="hersteller" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_hersteller" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="hubraum" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_hubraum" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="type" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_type" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="modell" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_modell" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="bj_von" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_bj_von" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="bj_bis" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_bj_bis" value class="input-text no-changes">
                        </div>
                    </th>
                    <th>
                        <div class="field-100">
                            <input type="text" name="fahrgestellnummer" id="fahrzeugGrid_fahrzeug_filter_fahrzeug_fahrgestellnummer" value class="input-text no-changes">
                        </div>
                    </th>
                    <th class="no-link last"><button type="submit" name="search"><?php echo $this->__('Search'); ?></button></th>
                    </form>
                </tr>
            </thead>
            <tbody>
                <?php
                foreach ($fahrzeuge as $fahrzeug) {
                    ($i % 2 != 0) ? $even = "even" : $even = "";
                    ?>
                    <tr class="<?php echo $even; ?> pointer">
                        <td class="a-right"><?php echo $fahrzeug['id']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['fahrzeugart']; ?></td>
                        <td class="a-right"><?php echo $fahrzeug['fahrzeug_id']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['hersteller']; ?></td>
                        <td class="a-right"><?php echo $fahrzeug['hubram']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['type']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['modell']; ?> 50 J</td>
                        <td class="a-left"><?php echo $fahrzeug['bj_von']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['bj_bis']; ?></td>
                        <td class="a-left"><?php echo $fahrzeug['fahrgestellnummer']; ?></td>
                        <td><a href="/index.php/artikelfinder/adminhtml_fahrzeuge/edit">Ändern</a></td>
                    </tr>
                    <?php
                    $i++;
                }
                ?>
            </tbody>

        </table>
    </div>
</div>