<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
$sku = $_REQUEST["sku"];
$artfind = new Sms_Artikelfinder_Helper_Data();

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = Mage::getSingleton('core/url')->getPath();
$edit = Mage::getSingleton('core/url')->getPath();
$edit = str_replace("index/", "edit/", $edit);
$product = Mage::getModel('catalog/product')->loadByAttribute('sku', $sku);

if ($_REQUEST['aendern'] != "") { 
    $param = $_REQUEST;
}
if ($param) {
    $artfind->editVerwendung($param);
}
$i = 1;
?>
<h2>Artikelverwendung zu Fahrzeug</h2>
<fieldset style="border: 1px solid black; padding: 10px; background: #fff9e9; margin-bottom: 10px;">
    <legend style="width: auto; font-size: 14px; visibility: visible; overflow: visible; padding: 10px;">Artikelsuche</legend>
    <form id="artikel" action="<?php echo $path; ?>">
        <span style="font-weight: bold; padding-right: 5px;">Artikelnummer</span><input type="text" name="sku" value="<?php echo $_REQUEST['sku']; ?>">
        <button type="submit">Senden</button>       
    </form>
</fieldset>
<?php
if ($product) {
    echo "<h2>" . $product->getSku() . " " . $product->getName() . " passt zu folgenden Fahrzeugen</h2>";
    $fahrzeuge = $artfind->getVehicleIds($product->getSku());
}
?>
<div class="grid">
    <div class="hor-scoll">
        <form name="search" id="search" action="<?php echo $path; ?>" method="post">
            <table cellspacing="0" class="data" id="fahrzeugGrid_table">
                <colgroup>
                    <col width="50">
                    <col width="150">
                    <col width="50">
                    <col width="250">
                    <col width="100">
                    <col width="100">
                    <col width="450">
                    <col width="50">
                    <col width="50">
                    <col width="50">
                    <col width="150">
                    <col width="150">
                </colgroup>
                <thead>
                    <tr class="headings">
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . 'id'; ?>" name="id" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">ID</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=fahrzeugart'; ?>" name="fahrzeugart" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Fahrzeugart</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=fahrzeug_id'; ?>" name="fahrzeug_id" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Fahrzeug ID (mkz)</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=hersteller'; ?>" name="hersteller" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Hersteller</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=hubraum'; ?>" name="Hubraum" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Hubraum</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=type'; ?>" name="type" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Type</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=modell'; ?>" name="modell" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Modell</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=bj_von'; ?>" name="bj_von" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Baujahr von</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=bj_bis'; ?>" name="bj_bis" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Baujahr bis</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <a href="<?php echo $path . '?sort=fahrgestellnummer'; ?>" name="fahrgestellnummer" title="asc" class="sort_arrow_desc">
                                    <span class="sort-title">Fahrgestellnummer</span>
                                </a>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <span class="sort-title">Vorn</span>
                            </span>
                        </th>
                        <th>
                            <span class="nobr">
                                <span class="sort-title">Hinten</span>
                            </span>
                        </th>
                        <th>&nbsp;</th>
                    </tr>

                </thead>
                <tbody>
                    <?php
                    foreach ($fahrzeuge as $fahrzeug) {
                        ($i % 2 != 0) ? $even = "even" : $even = "";
                        $_fahrzeug = $artfind->getVehicle($fahrzeug['fahrzeug_id']);
                        $verwendung = $artfind->getVerwendung($fahrzeug['fahrzeug_id'], $sku);
                        ($verwendung[0]['verwendung'] == "vorn") ? $vorn = 1 : $vorn = 0;
                        ($verwendung[1]['verwendung'] == "hinten") ? $hinten = 1 : $hinten = 0;
                        ?>
                        <tr class="<?php echo $even; ?> pointer">
                            <td class="a-right"><?php echo $_fahrzeug['id']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['fahrzeugart']; ?></td>
                            <td class="a-right"><?php echo $_fahrzeug['fahrzeug_id']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['hersteller']; ?></td>
                            <td class="a-right"><?php echo $_fahrzeug['hubraum']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['type']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['modell']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['bj_von']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['bj_bis']; ?></td>
                            <td class="a-left"><?php echo $_fahrzeug['fahrgestellnummer']; ?></td>
                            <td class="center">
                                <input type="checkbox" name="vorn" value="1" <?php if ($vorn == 1) { ?>checked <?php } ?>>
                                &nbsp;<?php if ($vorn == 1) { ?>
                                <a href="<?php echo $path.'?sku='.$sku.'&fahrzeug='.$fahrzeug['fahrzeug_id'].'&verwendung=vorn&aendern=entfernen'; ?>">Entfernen</a>
                                <?php } else { ?>
                                <a href="<?php echo $path.'?sku='.$sku.'&fahrzeug='.$fahrzeug['fahrzeug_id'].'&verwendung=vorn&aendern=hinzufuegen'; ?>">Hinzufügen</a>
                                <?php } ?>
                            </td>
                            <td class="center">
                                <input type="checkbox" name="hinten" value="1" <?php if ($hinten == 1) { ?>checked <?php } ?>>
                                &nbsp;<?php if ($hinten == 1) { ?>
                                <a href="<?php echo $path.'?sku='.$sku.'&fahrzeug='.$fahrzeug['fahrzeug_id'].'&verwendung=hinten&aendern=entfernen'; ?>">Entfernen</a>
                                <?php } else { ?>
                                <a href="<?php echo $path.'?sku='.$sku.'&fahrzeug='.$fahrzeug['fahrzeug_id'].'&verwendung=hinten&aendern=hinzufuegen'; ?>">Hinzufügen</a>
                                <?php } ?>
                            </td>
                        </tr>
                        <?php
                        $i++;
                    }
                    ?>
                </tbody>

            </table>
        </form>
    </div>
</div>