<?php
    $_productCollection=$this->getProductCollection();
    $_helper = $this->helper('catalog/output');
    $_collectionSize = $_productCollection->count();
    $_columnCount = $this->getColumnCount();
	$thumbnailWidth = $this->getThumbnailWidth();
	$thumbnailHeight = $this->getThumbnailHeight();
?>
<!--<h2>--><?php //echo $this->__('Best Sellers Products');?><!--</h2>-->
<?php if(!$_productCollection->count()): ?>
<!--<p class="note-msg">--><?php //echo $this->__('There are no products matching the selection.') ?><!--</p>-->
<?php else: ?>
    <h2><?php echo $this->__('Best Sellers Products');?></h2>
<div class="flexslider carousel" id="slideshow_bestseller">
	<?php $i=0; foreach ($_productCollection as $_product): ?>
		<?php if ($i++%$_columnCount==0): ?>
        <ul class="products-grid slides">
        <?php endif ?>
            <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%4==0): ?> last<?php endif; ?>">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($thumbnailWidth,$thumbnailHeight); ?>" width="<?php echo $thumbnailWidth;?>" height="<?php echo $thumbnailHeight;?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h2>
                <!--span class="sku"><?php //echo $_product->getSku() ?></span-->
				<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                <?php echo $this->getPriceHtml($_product, true) ?>
                <div class="actions">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                </div>
            </li>
        <?php if ($i%$_columnCount==0 || $i==$_collectionSize): ?>
        </ul>
        <?php endif ?>
	<?php endforeach ?>
	<script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
</div>
<?php endif; ?>