<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
$mkz = $_REQUEST["mkz"];
$artfind = new Sms_Artikelfinder_Helper_Data();
$bike = $artfind->getBike($mkz);
$artikel = $artfind->getItemsByModell($mkz);
$gruppen = $artfind->getCategories($artikel);
//$subs = $artfind->getSubCategories($artikel);

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = Mage::getSingleton('core/url')->getPath();

$i = 1;
?>
<div>
    <h5>Wir haben folgende Artikel für 
        <?php echo $bike["hersteller"] . " " . $bike["modell"] . ", " . $bike["fahrgestellnr"] . ", Baujahr " . $bike["bj_von"] . " bis " . $bike["bj_bis"]; ?>
        gefunden.</h5>
</div>
<div>
    <?php foreach ($gruppen as $gruppe) { ?>
        <button class="button" style="margin-bottom: 10px;" onClick="einblenden('<?php echo $gruppe; ?>'); return false;"><?php echo $gruppe; ?></button>
    <?php } ?>
</div>
<?php foreach ($gruppen as $gruppe) { ?>
    <div id="<?php echo $gruppe; ?>" style="display:none; padding: 10px;">
        <H1><?php echo $gruppe; ?></h1>
        <?php if ($gruppe == "Sonstiges") {
            $gruppe = "";
        } ?>
        <?php
        $_gruppenitems = itemsByCat($artikel, array('art_cat' => $gruppe));
        $skuList = array();
        foreach ($_gruppenitems as $groupitems) {
            array_push($skuList, $groupitems['artikelnr']);
        }
        $_productCollection = Mage::getResourceModel('catalog/product_collection')
                ->addAttributeToFilter('sku', array('in' => $skuList));
        include 'list_artikel.phtml';
        ?>
    </div>
<?php } ?>

<?php

function itemsByCat($array, $condition) {
    $foundItems = array();
    foreach ($array as $item) {
        $find = TRUE;
        foreach ($condition as $key => $value) {
            if (isset($item[$key]) && $item[$key] == $value) {
                $find = TRUE;
            } else {
                $find = FALSE;
            }
        }
        if ($find) {
            array_push($foundItems, $item);
        }
    }
    return $foundItems;
}

$filter = $condition;
$filtered = itemsByCat(
        $artikel,
        array('art_cat' => $filter)
);
?>



<script>
    var aktivesDiv = "none";
    function einblenden(div) {
        with (document.getElementById(div).style) {
            if (display == "none") {
                display = "block";
                if (aktivesDiv != "none")
                    document.getElementById(aktivesDiv).style.display = "none";
                aktivesDiv = div;
            } else {
                display = "none";
            }
        }
    }
</script>