<?php
/**  Autor: Wolf Schmidt, 12.01.2018
 *  Schmidt Medienservice
 */
?>
<?php 
$hersteller = $_REQUEST["hersteller"];
$hubraum = $_REQUEST["hubraum"];
$type = $_REQUEST["type"];
$modell = $_REQUEST["modell"];

$artfind = new Sms_Artikelfinder_Helper_Data();
$listhersteller = $artfind->getHersteller();
$hubraumByHersteller = $artfind->getHubraumByHersteller($hersteller);
$typeByHh = $artfind->getTypeByHh($hersteller, $hubraum);
$modelle = $artfind->getModelle($hersteller, $hubraum, $type);

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = Mage::getSingleton('core/url')->getPath();
?>

<div class="sms-front-outside">
<h2>Finde Ersatzteile und Zubehör für Dein Bike</h2>
<form action="artikelfinder/index/result" method="POST">
    <div class="sms-front-inside plus">
    <label>
        Hersteller
    </label>
    <select name="hersteller" onchange="javascript:window.location.href='<?php echo $path; ?>?hersteller='+this.value">
        <?php if ($hersteller) { ?>
        <option value="<?php echo $hersteller; ?>" selected="selected"><?php echo $hersteller; ?></option>
        <?php } else { ?>
        <option value="" selected>[ Hersteller ]</option>
         <?php } ?>
        <?php foreach ($listhersteller as $key => $value) : ?>
            <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
        <?php endforeach; ?>
    </select>
    </div>
        <div class="sms-front-inside plus">
    <label>
        Hubraum
    </label>
    <select name="hubraum" onchange="javascript:window.location.href='<?php echo $path; ?>?hersteller=<?php echo $hersteller; ?>&hubraum='+this.value">
        <?php if ($hubraum) { ?>
        <option value="<?php echo $hubraum; ?>" selected="selected"><?php echo $hubraum; ?></option>
        <?php } else { ?>
        <option value="" selected>[ Hubraum ]</option>
         <?php } ?>
        <?php foreach ($hubraumByHersteller as $key => $value) : ?>
            <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
        <?php endforeach; ?>
    </select>
        </div>
        <div class="sms-front-inside plus">
    <label>
        Typ
    </label>
    <select name="type" onchange="javascript:window.location.href='<?php echo $path; ?>?hersteller=<?php echo $hersteller; ?>&hubraum=<?php echo $hubraum; ?>&type='+this.value">
        <?php if ($type) { ?>
        <option value="<?php echo $type; ?>" selected="selected"><?php echo $type; ?></option>
        <?php } else { ?>
        <option value="" selected>[ Typ ]</option>
         <?php } ?>
        <?php foreach ($typeByHh as $key => $value) : ?>
            <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
        <?php endforeach; ?>
    </select>
        </div>
        <div class="sms-front-inside">
    <label>
        Modell
    </label>
    <select name="modell">
        <?php if ($modell) { ?>
        <option value="<?php echo $modell; ?>" selected="selected"><?php echo $modell; ?></option>
        <?php } else { ?>
        <option value="" selected>[ Fahrzeug wählen ]</option>
         <?php } ?>
        <?php foreach ($modelle as $modell) : ?>
            <option value="<?php echo $modell['modell']; ?>"><?php echo $modell['modell']; ?></option>
        <?php endforeach; ?>
    </select>
        </div>
    <button class="button" type="submit" name="search">Fahrzeuge Anzeigen</button>
</form>
</div>
