<?php
/**  Autor: Wolf Schmidt, 28.01.2020
 *  Schmidt Medienservice
 */
?>
<?php
Mage::register('current_collection', $collection);
$village = $value['city'];
$activecountry = $value['country_code'];
$distance = " - " . round($value['distanceKm']) . " km";
?>
<section class="services-block-white">
    <div class="product-list row container" style="margin-left: auto; margin-right: auto;">
        <h6>
            <?php
            echo $this->__('Offers from');
            echo " " . $village . " (" . $this->__('approximately ') . $distance . " " . $this->__('away') . ")";
            ?>
        </h6>
        <?php
        $_helper = $this->helper('catalog/output');
        $i = 0;
        $spalten = 3;
        $reihen = ceil(count($_collection) / 3);
        $offer = array();
        
        ?>
        <?php echo $this->getToolbarHtml() ?>
        <!-- neue Aufteilung -->
        <div class="product-list row">
            <?php foreach ($_collection as $product) { ?>
                <?php
                $village = Mage::getModel('catalog/product')->load($product->getId())->getVillage();
                $new_image = $neuheiten->cropImage($product->getImage());

                if ($i % 3 == 0) {
                    echo "<br style='clear: both'>";
                }
                ?>
                <div class="<?php echo ($i >= 36) ? 'neuheiten-cat-last' : 'neuheiten-cat'; ?>">
                    <div class="preview animate scale hover-slide animated">
                        <span class="popup-3sp">
                            <a href="<?php echo $product->getProductUrl(); ?>">
                                <span><?php echo $product->getName(); ?><br>
                                    <div
                                        style="background:#000000; opacity: 0.9; height: 23px; margin: 0 -5px 0 -5px; padding-top: 5px;">
                                        <img
                                            src="<?php echo $this->getSkinUrl() . 'images/flaggen/' . strtolower($product->getCountry()); ?>.png"
                                            height="15px">
                                        <strong style="vertical-align: top;">
                                            - <?php echo $village; ?></strong>
                                    </div>
                                </span>
                            </a>
                            <a href="<?php echo $product->getProductUrl(); ?>" class="preview-image">
                                <img src="<?php echo $new_image; ?>"
                                     class="img-responsive animate scale product-retina animated"
                                     data-image2x="<?php echo $new_image; ?>">
                                <img id="product-collection-image-4"
                                     src="<?php echo $new_image; ?>"
                                     class="product-retina img-responsive"
                                     data-image2x="<?php echo $new_image; ?>">
                            </a>
                        </span>
                    </div>
                    <?php
                    if ($neuheiten->getNew($product->getId()) == 1) :
                        $opacity = '1';
                    else: $opacity = '0';
                    endif;
                    ?>
                    <?php
                    if ($neuheiten->getUpdated($product->getId()) == 1 && $neuheiten->getNew($product->getId()) != 1) :
                        $upopacity = '1';
                    else: $upopacity = '0';
                    endif;
                    ?>

                    <div id="stoerer-3sp" style="opacity: <?php echo $opacity; ?>;">
                        <?php echo $this->__('New'); ?>
                    </div>
                    <div id="stoerer-bg-3sp" style="opacity: <?php echo $opacity; ?>;">
                        <svg height="55" width="55">
                        <polygon points="0,0 55,0 55,55" style="fill:#947b1b;"/>
                        </svg>
                    </div>

                    <div id="stoerer-updated-3sp" style="opacity: <?php echo $upopacity; ?>;">
                        <?php echo $this->__('Up<br>dated'); ?>
                    </div>
                    <div id="stoerer-bg-3sp" style="opacity: <?php echo $upopacity; ?>;">
                        <svg height="55" width="55">
                        <polygon points="0,0 55,0 55,55" style="fill:#947b1b;"/>
                        </svg>
                    </div>

                </div>
                <?php
                $i++;
            }
            ?>
        </div>
        <?php echo $this->getToolbarHtml() ?>
    </div>
    <?php $angebote->saveCollection($_collection, round($value['distanceKm']));  ?>
</section>