<?php
/**  Autor: Wolf Schmidt, 12.01.2018
 *  Schmidt Medienservice
 */
?>
<?php
$hersteller = $_REQUEST["hersteller"];
$hubraum = $_REQUEST["hubraum"];
$type = $_REQUEST["type"];
$modell = $_REQUEST["modell"];

$artfind = new Sms_Artikelfinder_Helper_Data();
$listhersteller = $artfind->getHersteller();
$hubraumByHersteller = $artfind->getHubraumByHersteller($hersteller);
$typeByHh = $artfind->getTypeByHh($hersteller, $hubraum);
$modelle = $artfind->getModelle($hersteller, $hubraum, $type);
$fahrzeuge = $artfind->getBikes($modell);

$currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = Mage::getSingleton('core/url')->getPath();
?>

<div class="sms-result-outside">
    <h2>Finde Ersatzteile und Zubehör für Dein Bike</h2>
    <form action="artikelfinder/result" method="POST">
        <div class="sms-result-inside plus">
            <label>
                Hersteller
            </label>
            <select name="hersteller" onchange="javascript:window.location.href = '<?php echo $path; ?>?hersteller=' + this.value">
                <?php if ($hersteller) { ?>
                    <option value="<?php echo $hersteller; ?>" selected="selected"><?php echo $hersteller; ?></option>
                <?php } else { ?>
                    <option value="" selected>[ Hersteller ]</option>
                <?php } ?>
                <?php foreach ($listhersteller as $key => $value) : ?>
                    <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="sms-result-inside plus">
            <label>
                Hubraum
            </label>
            <select name="hubraum" onchange="javascript:window.location.href = '<?php echo $path; ?>?hersteller=<?php echo $hersteller; ?>&hubraum=' + this.value">
                <?php if ($hubraum) { ?>
                    <option value="<?php echo $hubraum; ?>" selected="selected"><?php echo $hubraum; ?></option>
                <?php } else { ?>
                    <option value="" selected>[ Hubraum ]</option>
                <?php } ?>
                <?php foreach ($hubraumByHersteller as $key => $value) : ?>
                    <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="sms-result-inside plus">
            <label>
                Typ
            </label>
            <select name="type" onchange="javascript:window.location.href = '<?php echo $path; ?>?hersteller=<?php echo $hersteller; ?>&hubraum=<?php echo $hubraum; ?>&type=' + this.value">
                <?php if ($type) { ?>
                    <option value="<?php echo $type; ?>" selected="selected"><?php echo $type; ?></option>
                <?php } else { ?>
                    <option value="" selected>[ Typ ]</option>
                <?php } ?>
                <?php foreach ($typeByHh as $key => $value) : ?>
                    <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <div class="sms-result-inside">
            <label>
                Modell
            </label>
            <select name="modell">
                <?php if ($modell) { ?>
                    <option value="<?php echo $modell; ?>" selected="selected"><?php echo $modell; ?></option>
                <?php } else { ?>
                    <option value="" selected>[ Fahrzeug wählen ]</option>
                <?php } ?>
                <?php foreach ($modelle as $modell) : ?>
                    <option value="<?php echo $modell['modell']; ?>"><?php echo $modell['modell']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
        <button class="button" type="submit" name="search">Fahrzeuge Anzeigen</button>
    </form>
</div>
<div class="sms-fahrzeug-outside">
    <h2>Fahrzeugübersicht</h2>
    <h3>Wähle dein Bike für die Artikelanzeige</h3>
    <div class="grid">
        <table cellspacing="0" class="data" id="fahrzeugGrid_table">
            <colgroup>
                <col width="150">
                <col width="350">
                <col width="150">
                <col width="100">
                <col width="100">
                <col width="100">
                <col width="100">
            </colgroup>
            <thead>
                <tr class="headings">
                    <th><span class="nobr">Hersteller</span></th>
                    <th><span class="nobr">Modell</span></th>
                    <th><span class="nobr">Fahrgestellnummer</span></th>
                    <th><span class="nobr">Hubraum</span></th>
                    <th><span class="nobr">Typ</span></th>
                    <th><span class="nobr">Baujahr von</span></th>
                    <th><span class="nobr">Baujahr bis</span></th>
                </tr>
            </thead>
            <tbody>
                <?php $i = 1; ?>
                <?php
                foreach ($fahrzeuge as $fahrzeug) {
                    ($i % 2 != 0) ? $even = "even" : $even = "";
                    ?>
                
                    <tr class="<?php echo $even; ?> pointer" data-href="/artikelfinder/index/artikel?mkz=<?php echo $fahrzeug["fahrzeug_id"]; ?>">
            <td class="a-left"><?php echo $fahrzeug["hersteller"]; ?></td>
                        <td class="a-left"><?php echo $fahrzeug["modell"]; ?></td>
                        <td class="a-left"><?php echo $fahrzeug["fahrgestellnr"]; ?></td>
                        <td class="a-left"><?php echo $fahrzeug["hubraum"]; ?></td>
                        <td class="a-left"><?php echo $fahrzeug["type"]; ?></td>
                        <td class="a-center"><?php echo $fahrzeug["bj_von"]; ?></td>
                        <td class="a-center"><?php echo $fahrzeug["bj_bis"]; ?></td>
                    </tr>
                <?php
                $i++;
            }
?>
            </tbody>

        </table>
    </div>
</div>

<script>
    jQuery(document).ready(function($) {
    $('*[data-href]').on('click', function() {
        window.location = $(this).data("href");
    });
});
</script>