<?php
/**
 * Author: Wolf Schmidt, Schmidt Medienservice
 */
?>
<meta http-equiv="Content-Type" content="<?php echo $this->getContentType() ?>" />
<title><?php echo $this->getTitle() ?></title>
<meta name="description" content="<?php echo htmlspecialchars($this->getDescription()) ?>" />
<meta name="keywords" content="<?php echo htmlspecialchars($this->getKeywords()) ?>" />
<meta name="robots" content="<?php echo htmlspecialchars($this->getRobots()) ?>" />
<link rel="icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<link rel="shortcut icon" href="<?php echo $this->getFaviconFile(); ?>" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!--[if lt IE 7]>
<script type="text/javascript">
//<![CDATA[
    var BLANK_URL = '<?php echo $this->helper('core/js')->getJsUrl('blank.html') ?>';
    var BLANK_IMG = '<?php echo $this->helper('core/js')->getJsUrl('spacer.gif') ?>';
//]]>
</script>
<![endif]-->


<!-- Start Cookie Plugin -->
<script type="text/javascript">
	window.cookieconsent_options = {
		message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
		dismiss: 'Ok, verstanden',
		learnMore: 'Mehr Infos',
		link: '/datenschutz',
		theme: 'dark-bottom'
	};
</script>
<script type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script-v2.js"></script>
<!-- Ende Cookie Plugin -->

<?php echo $this->getCssJsHtml() ?>
<?php echo $this->getChildHtml() ?>
<?php echo $this->helper('core/js')->getTranslatorScript() ?>
<?php echo $this->getIncludes() ?>



<script type="text/javascript">
 /*************** Cart *********************/
jQuery(function($) { 
$('#top_cart_sidebar').hide();
 $('.top-link-cart')
 .bind('mouseover', showMenu)
 .bind('click', showMenu)
 .bind('mouseout', hideMenu);
 $('#top_cart_sidebar')
 .bind('mouseover', showMenu)
 .bind('click', showMenu)
 .bind('mouseout', hideMenu);
 var timeout = null;
 
	function hideMenu() {
		if (timeout)
		clearTimeout(timeout);
		timeout = setTimeout(function() {
		timeout = null;
		$('#top_cart_sidebar').slideUp();
		$('.top-link-cart').removeClass('over');
		}, 200);
	}

	function showMenu() {		
		$('#div_search').css('display','none');	
		$('#top-links').css('display','none');
		if (timeout)
		clearTimeout(timeout);
		timeout = setTimeout(function() {
		timeout = null;
		$('#top_cart_sidebar').slideDown();
		$('.top-link-cart').addClass('over');
		}, 200);
	} 
}); 
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<!--<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107986863-1"></script>-->
<!--<script>-->
<!--	window.dataLayer = window.dataLayer || [];-->
<!--	function gtag(){dataLayer.push(arguments);}-->
<!--	gtag('js', new Date());-->
<!---->
<!--	gtag('config', 'UA-107986863-1');-->
<!--</script>-->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

