/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.10.2020, 12:30:00
    Author     : User
*/

@media only screen and (min-width: 768px) {
    nav {
        box-sizing: border-box;
        display: inline-block;
        width: 100%;
        background: #3a3a3a;
        font-size: 14px;
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }

    nav a {
        display: block;
        color: #fff;
        text-decoration: none;
    }

    nav a:hover {
        display: block;
        font-weight: 500;
        color: black;
        text-decoration: none;
        padding: 10px;
    }

    nav ul li {
        position: relative;
        float: left;
        list-style: none;
        z-index: 10;
    }

    nav ul li:hover {
        background: red;
    }

    nav ul li a {
        padding: 10px;
    }

    nav ul ul {
        position: absolute;
        display: block;
        top: -9999px;
        left: -9999px;
        background: #333;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    }

    nav ul ul li {
        float: none;
        width: 200px;
        border-bottom: 1px solid #555;
    }

    nav ul ul li a {
        padding: 10px 10px;
    }

    nav ul li:hover > ul {
        top: 100%;
        left: 0;
    }

    nav ul ul li:hover > ul {
        top: 0;
        left: 200px;
    }

    nav ul li.submenu > a:after {
        position: relative;
        float: right;
        content: '';
        margin-left: 10px;
        margin-top: 5px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #fff;
        border-bottom: 5px solid transparent;
    }

    input#responsive-nav,
    label.responsive-nav-label {
        display: none;
    }

    .sms-lieferzeit {
        color: red;
        line-height: 1.5em;
        font-weight: 600;
    }

    .sms-lieferzeit-grid {
        color: red;
        font-size: 0.8em;
        line-height: 1.5em;
        font-weight: 600;
    }

    .sms-front-outside {
        border: 2px solid #e3e1e3;
        color: #3a3a3a;
        padding: 15px;
        margin-bottom: 30px;
    }

    .sms-front-inside {
        float: left;
    }

    .sms-front-inside select {
        width: 170px;
    }

    .plus {
        padding-right: 10px;
    }

    .sms-leftside {
        border: 1px solid #bcbcbc;
        color: #3a3a3a;
        padding: 7px;
        margin-bottom: 10px;
    }

    .sms-leftside select {
        width: 177px;
    }

    .sms-result-outside {
        display: inline-block;
        border: 2px solid #e3e1e3;
        color: #3a3a3a;
        padding: 15px;
        margin-bottom: 20px;
    }

    .sms-result-inside select {
        width: 220px;
    }

    .sms-result-inside {
        float: left;
    }

    .sms-fahrzeug-outside {
        display: inline-block;
        border: 2px solid #e3e1e3;
        color: #3a3a3a;
        padding: 15px;
        margin-bottom: 30px;
        width: 97%;
        min-height: 150px;
    }

    .grid {
        border-bottom: 0;
        padding-bottom: .5em;
    }

    .grid table {
        border: 1px solid #cbd3d4;
        width: 100%;
        border-bottom: none;
        border-collapse: separate;
        text-indent: initial;
        border-spacing: 2px;
    }

    .grid tr.headings {
        background: url(images/sort_row_bg.gif) 0 50% repeat-x;
    }

    .grid tr.headings th {
        border-width: 1px;
        border-color: #f9f9f9 #d1cfcf #f9f9f9 #f9f9f9;
        border-style: solid;
        padding-top: 1px;
        padding-bottom: 0;
        font-size: .9em;
    }

    .grid th {
        white-space: nowrap;
        padding: 2px 4px 2px 4px;
        text-align: left;
        vertical-align: top;
        font-weight: bold;
        display: table-cell;
    }

    .grid tbody {
        background: white;
    }

    .grid tr.even {
        background: #f6f6f6;
    }

    .grid pointer {
        cursor: pointer;
    }

    .grid td {
        padding: 5px;
    }

    .grid [data-href] {
        cursor: pointer;
    }
    
    .grid [data-href]:hover {
        background: #3a3a3a;
        color: #eee;
    }
}

@media screen and (max-width: 767px) {
    label.responsive-nav-label {
        position: relative;
        display: block;
        padding: 10px;
        background: #222;
        cursor: pointer;
        color: #fff;
    }

    li {
        padding: 8px;
    }

    nav {
        position: absolute;
        top: -9999px;
        padding: 10px;
    }

    input#responsive-nav[type=checkbox]:checked ~ nav {
        position: relative;
        top: 0;
        background-color: lightgray;
    }

    nav a:after {
        display: none;
    }

    nav li {
        float: none !important;
        width: 100% !important;
        border-bottom: none !important; 
    }

    nav ul li a {
        /*margin-bottom: 10px !important;*/
        display: block;
        width: auto;
        padding: 5px 20px !important; 
        background: darkgray;
        color: darkblue;
    }

    nav ul li:hover {
        background: none;
    }

    nav ul ul li a {
        background: none;
        color: #2465c6;
    }
    nav ul li a:hover {
        background: #4096ee;
    }

    nav ul ul {
        position: relative !important;
        width: 100%;
        left: 0 !important;
        top: 0 !important;
        background: none !important;
        box-shadow: none;
    }

    nav ul ul li {
        padding: 5px 0 5px 20px;
    }

    .products-grid li.item { float:left; 
                             width: 45%; 
                             padding:0; 
                             margin-right: 16px !important;
                             margin-bottom: 20px;
                             -moz-transition: all 200ms ease;
                             -webkit-transition: all 200ms ease;
                             -o-transition: all 200ms ease;
                             transition: all 200ms ease;
    }

    .product-view .product-img-box { float:left; width: 95% !important; }
    .product-view .product-img-box .product-image-zoom { 
        position:relative; 
        width: 105% !important; 
        height: 220px !important; 
        overflow:hidden; 
        z-index:9; 
    }

    .product-view .product-shop .product-name h1 { 
        margin:0; 
        font-weight: 800;
        font-size: 18px; 
        color: #000000;
    }

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

    td img {
        width: 100%;
    }

    .data-table td {
        padding-left: 5px;
        padding-right: 5px;
        width: 97%;
    }
    .cart-table .btn-continue {
        float: none;
    }

    .sms-lieferzeit {
        color: red;
        line-height: 1.5em;
        font-weight: 600;
    }
}